
/*
.grey-layer{
    border: 1px solid ;
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 2000px;
    position: absolute;
    
    margin-top: 100px;
}
*/

body{
    background-color: lightgrey;
    position: static;
    margin-top: 100px;
}


.heading{
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xx-large;
}

.menu-grid{
    display: grid;
    justify-items: center; 
    width: 40%;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    margin-bottom: 30px;
    justify-items: center;
    justify-content: center;
    margin-bottom: 60px;

    
}

.grid-item:hover{
    border: 1px solid red;
    height: 35px;
    width: 60px;
  
    border-radius: 10%;
    background-color: red;
}

.grid-item1{
    color: white;
}

.grid-item2{
    color: white;
}

.grid-item3{
    color: white;
}

.grid-item4{
    color: white;
}

.grid-item5{
    color: white;
}

/* ============================================================ */


.main-text {
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    padding-top: 30px;
}

.main-text h2 {
    font-size: 26px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 22px;
}

.main-text h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 23px;
}

.main-text__article {
    width: 780px;
    height: min-content;
    background-color: rgb(255, 255, 255);
    margin-right: 28px;
}

.main-text__article-container {
    padding-left: 28px;
    padding-right: 28px;
}

.main-text__article-italic {
    font-style: italic;
    font-size: 23px;
    padding-top: 0;
}

section p {
    font-family: "Hamburg-TS-ExtraLight";
    line-height: 1.8;
    padding-top: 7px;
    padding-bottom: 38px;
}

.for-image {
    width: 100%;
    height: auto;
}

.main-text__aside {
    width: 372px;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}

.main-text__aside-dog {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.main-text__aside-fruits {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.main-text__aside-section {
    margin: 28px 40px;
}

#fruit-links {
    color: rgb(204, 0, 0);
    font-size: 17px;
}

.aside-button {
    width: 200px;
    height: 51px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 17px;
    margin-top: 40px;
}




/* ============================================================ */

.footer-text {
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.footer-text__details {
    width: 332px;
    margin-left: 25px;
    margin-right: 25px;
}

.footer-text__details:nth-child(3) {
    width: 360px;
}

.footer-text__details h2 {
    text-align: left;
    font-size: 27px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 25px;
}

.divided li {
    border-bottom: 1px solid rgb(164, 166, 168);
    padding-top: 25px;
    padding-bottom: 20px;
}

.divided li:last-child {
    border-bottom: none;
}

.divided a {
    font-size: 17px;
    color: rgb(164, 166, 168);
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 23px;
}

.social img {
    width: 54px;
    height: auto;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact h3 {
    width: 30%;
    font-weight: 900;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.contact p, .contact a {
    color: rgb(77, 77, 77);
}

.contact li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    border-bottom: 1px solid rgb(164, 166, 168);
    padding-top: 17px;
    padding-bottom: 38px;
}