body{
    background: url(./bg.jpg);
    background-size: cover;
}

.header{
    font-size: 40px;
    font-family: 'Yomogi', cursive;
    text-align: center;
}

.font1{
    font-family: 'Yomogi', cursive;
}

.zmist{
    font-size: 40px;
    text-align: center;
    margin-left: auto;
}