body{
    background: url(./bg.jpg);
    background-size: cover;
}

.header{
    text-align: center;
    font-size: 2em;
    font-family: 'Yomogi', cursive;
    margin-bottom: 10px;
    font-family: sans-serif;
    letter-spacing: 7px;
    font-size: 40px;
}

.admin-center{
    text-decoration: underline;
}

.countries{
    letter-spacing: 5px;
    text-decoration: underline;
}

.content{
    text-align: center;
    font-size: 2em;
    margin-left: auto;
    font-family: sans-serif;
}

.part-numbers{
    text-transform: uppercase; 
    font-size: larger;
    font-weight: normal;
}

.city-name{
    font-size: larger;
}

.line{
    text-decoration: line-through;
}