

.rectangle-block{
    display: block;
    border: 5px double rgb(24, 21, 21);
    background-color: rgb(245, 245, 221);
    height: 398px;
    width: 795px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
   padding-left: 40px;
   padding-right: 40px;
}


.list{
    display: flex;
    width: 100%;
    height: 129px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.list-second{
    display: flex;
    width: 100%;
    height: 129px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /* margin-top: 129px; */
    padding-left: 0;
}

.list-third{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}



ul.list{
    margin: 0;
    padding: 0;
}

ul.list li.first-row li.second-row li.third-row{
    display: inline; 
    
    padding: 3px; 
}

.first-font{
    color: rgb(109, 194, 94);
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}

.second-font-right{
    color: rgb(0, 0, 0);
    margin-left: 70px;
    font-size: 30px;
}

.second-font-left{
    color: rgb(0, 0, 0);
    margin-right: 70px;
    font-size: 30px;
}

.third-font{
    color: rgb(4, 20 ,251);
    margin-left: 70px;
    margin-right: 60px;
}

.title{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 200;
}

.fa {
    font-size: 20px;
    transition: 0.25s;
}

.fa-fw {
    width: 2px;
}

.first-font:hover  {
    color: red;
}

.second-font-right:hover,
.second-font-left:hover {
    color: orange;
}

.third-font:hover {
    color: black;
}