.main-frame{
    height: 570px;
    width: 520px;
    border: 2px solid rgb(172, 172, 172);
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.page-form_headling{
    
    width: auto;
    background: rgb(49, 163, 112);
    text-align: center;
    color: white;
    padding: 10px 0;
    margin: 0;
}