.main-frame{
    height: 570px;
    width: 520px;
    border: 2px solid rgb(172, 172, 172);
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border-radius: 10px;
}

.header-frame{
    box-sizing: border-box;
    width: auto;
    height: 30px;
    color: rgb(49, 163, 112);
}