.black-color{
    font-size: smaller;
}

.red-color{
    color: red;
    font-size: large;
}

.green-color{
    color: green;
    font-size: large;
}

.blue-color{
    color: blue;
    font-size: large;
}

.against-imphery{
    font-style: italic;
    font-weight: bold;
}

.fired{
    font-style: italic;
    font-weight: bold;
}

.death{
    font-style: italic;
    font-weight: bold;
}