.simple-table {
    border-collapse: collapse;
    width: 600px;
    height: 300px;
    font-size: 20px;
    margin: 40px 0;
}

.simple-table td {
    border: 1px solid black;
    text-align: center;
  }

  .first{
    height: 20%;
  }

  .second{
    height: 20%;
  }